{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="col-md-4">
      <h1>{{ game.title }}</h1>
    <p><strong>Publisher:</strong> <a href="{% url 'publisher' game.publisher.pk %}">{{ game.publisher }}</a></p>
    <p><strong>Genre:</strong> {{ game.genre.all|join:", " }}</p>  
    <p><strong>Description:</strong> {{ game.summary }}</p>
  </br>
  
    <h4>Reviews:</h4>
    {% if game.gamereview.all %}
    {% else %}
      <p>Game doesn't have reviews</p>
    {% endif %}
  </br>
  <hr> 
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
{% endblock %}
